@import "tailwindcss";

@theme {
    --color-primary-100: #DFFED2;
    --color-primary-200: #D0FABC;
    --color-primary-300: #B3F395;
    --color-primary-400: #8DE462;
    --color-primary-500: #75CF44;
    --color-primary-600: #3C7F1A;
    --color-primary-700: #24670E;
    --color-primary-800: #134705;
    --color-primary-900: #043503;
    --color-secondary-100: #FEFCDD;
    --color-secondary-200: #F8F5B4;
    --color-secondary-300: #ECE98D;
    --color-secondary-400: #E1DA75;
    --color-secondary-500: #CEC046;
    --color-secondary-600: #D2BF51;
    --color-secondary-700: #BA9721;
    --color-secondary-800: #8C6A0D;
    --color-secondary-900: #533A03;
    --color-tertiary-100: #FDEDD8;
    --color-tertiary-200: #F9DDB9;
    --color-tertiary-300: #F0C894;
    --color-tertiary-400: #E1B070;
    --color-tertiary-500: #CF954A;
    --color-tertiary-600: #B5792C;
    --color-tertiary-700: #9A6218;
    --color-tertiary-800: #75470A;
    --color-tertiary-900: #623904;
    --color-error-100: #FDDDDD;
    --color-error-200: #F8C7C3;
    --color-error-300: #F5ADA8;
    --color-error-400: #F28F88;
    --color-error-500: #EE6C63;
    --color-error-600: #D63D3D;
    --color-error-700: #B42222;
    --color-error-800: #991E15;
    --color-error-900: #60100B;
    --color-grey-100: #F1F6EF;
    --color-grey-200: #E9EFE6;
    --color-grey-300: #D8DCD6;
    --color-grey-400: #C0C9BA;
    --color-grey-500: #98A790;
    --color-grey-600: #63715B;
    --color-grey-700: #434C3E;
    --color-grey-800: #2C3329;
    --color-grey-900: #1E221B;
    --font-roboto: Roboto, sans-serif;
    --drop-shadow-csm: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
    --drop-shadow-cmd: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 8px 2px rgba(0, 0, 0, 0.25);
    --drop-shadow-clg: 0px 2px 4px 1px rgba(0, 0, 0, 0.25), 0px 2px 10px 4px rgba(0, 0, 0, 0.25);
    --drop-shadow-cism: 0px 2px 3px 1px rgba(0, 0, 0, 0.1), 0px -2px 2px 0px rgba(0, 0, 0, 0.2);
    --drop-shadow-cimd: 0px 2px 4px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px 1px rgba(0, 0, 0, 0.2);
}

@custom-variant htmx-swapping {
    &.htmx-swapping {
        @slot;
    }
    .htmx-swapping & {
        @slot;
    }
}

@custom-variant htmx-settling {
    &.htmx-settling {
        @slot;
    }
    .htmx-settling & {
        @slot;
    }
}

@layer utilities {
  .mask {
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}

@custom-variant htmx-added {
    &.htmx-added {
        @slot;
    }
    .htmx-added & {
        @slot;
    }
}

@custom-variant htmx-request {
    &.htmx-request {
        @slot;
    }
    .htmx-request & {
        @slot;
    }
}