package views

type xd struct {}

var DetailFragment = xd{}

templ ProductDetails() {
    @layout() {
    <div class="mx-4 text-3xl">
        Whole

    </div>
    <p class="text-3xl m-0!">ASSADASD</p>
    }
}