package components

templ InfoStyled(title, titleClass string) {
	<div class="flex flex-col gap-2 pt-4 px-2 md:gap-3">
		@Descriptor(title, titleClass)
		{ children... }
	</div>
}

templ Info(title string) {
	<div class="flex flex-col gap-2 pt-4 px-2 md:gap-3">
		@Descriptor(title, "")
		{ children... }
	</div>
}

templ Descriptor(content, class string) {
	<p class={ class + " text-grey-700 text-xs font-medium" }>{ content }</p>
}
